@model InformationTech.Models.clientchangepass

@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Views/_LayoutClientPage.cshtml";
}


<div class="ht__bradcaump__area" data--black__overlay="4" style="background: rgba(0, 0, 0, 0) url(/Content/ClientCss/images/bg/4.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Password</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="/Home/Index">Home</a>
                            <span class="brd-separetor"><i class="icon ion-ios-arrow-right"></i></span>
                            <span class="breadcrumb-item active">Change Password</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start LogIn Area -->
<section class="htc__login__container text-center ptb--80 bg__white">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("changepassword", "Dashboard", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                @Html.AntiForgeryToken()
              
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="login__area__wrap">
                        <div class="login__inner">

                            <div class="login__form__box">
                                <div class="login__form first__last__name">
                                    @Html.TextBoxFor(model => model.oldpass, new { type="password", required = "required", placeholder = "Enter Your Old Password", title = "Enter Your Old Password" })
                                   
                                </div>
                                <div class="login__form">
                                    @Html.TextBoxFor(model => model.newpass, new { type = "password", required = "required", placeholder = "Enter Your New Password", title = "Enter Your New Password", id="pname",onkeyup ="CheckPasswordStrength(this.value)" })
                                    <span id="password_strength"></span>
                                </div>
                                <div class="login__form">
                                    @Html.TextBoxFor(model => model.repass, new { type = "password", required = "required", placeholder = "Re-Enter Your Password", id="rpname", onblur="james()", title = "Re-Enter Your New Password" })
                                    

                                </div>

                                <div class="login__btn">

                                    <button type="submit" class="htc__btn btn--theme" name="submit" value="client_pass">Update Password</button>


                                    
                                </div>
                                
                                <div class="login__btn">

                                    <b id="password_strength1"> </b>
                                    <b style="color:greenyellow">@ViewBag.ab</b>
                                </div>

                                </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<script>
	function james() {
        var newp = document.getElementById("pname").value;
		var newr = document.getElementById("rpname").value;

        var password_strength = document.getElementById("password_strength1");
        if (newp != newr) {
            document.getElementById("rpname").value = "";
            password_strength.innerHTML = "*****Invalid Re-Enter Password";
            password_strength.style.color = "red";
        }
        else {
            password_strength.innerHTML = "";
            password_strength.style.color = "";
        }
    }
</script>

<script type="text/javascript">
    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");

        //TextBox left blank.
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }

        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$@@$!%*#?&]"); //Special Character.

        var passed = 0;

        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test(password)) {
                passed++;
            }
        }

        //Validate for length of Password.
        //if (passed > 2 && password.length > 8) {
        //    passed++;
        //}

        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                strength = "Weak";
                color = "red";
                break;
            case 2:
                strength = "Good";
                color = "darkorange";
                break;
            case 3:
            case 4:
                strength = "Strong";
                color = "green";
                break;
            case 5:
                strength = "Very Strong";
                color = "darkgreen";
                break;
        }
        password_strength.innerHTML = strength;
        password_strength.style.color = color;
    }




</script>