@model InformationTech.Models.admin_change_password

@{
    ViewBag.Title = "Admin Change Password";
    Layout = "~/Views/_LayoutPageAdmin.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Change Password</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("DashBoard","techadmin")">Home</a></li>
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Change Password</li>
            </ol>
        </div>

    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <h2>@ViewBag.ab</h2>
    @using (Html.BeginForm("AdminChangePassword", "techadmin", FormMethod.Post, new { enctype = "multipart/form-data", style = "width:400px;" }))
    {

        @Html.AntiForgeryToken()




        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header btn-primary">

                        <h4 class="m-b-0 text-white">Change Password Here</h4>
                    </div>
                    <div class="card-body">
                        <div class="form p-t-20">


                            <div class="row">
                                <div class="col-lg-12">


                                    <div class="form-group">
                                        <label for="exampleInputuname">Old Password</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-lock"></i></div>


                                            @Html.TextBoxFor(model => model.admin_old_password, new { required = "required", type = "password", placeholder = "Enter Old Password", id = "exampleInputuname", title = "Enter Old Password", @class = "form-control" })


                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputuname">New Password</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-lock"></i></div>




                                            @Html.TextBoxFor(model => model.admin_new_password, new { required = "required", type = "password", placeholder = "Enter New Password", id = "pname", title = "Enter New Password", @class = "form-control" })

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputuname">Re-New Password</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-lock"></i></div>



                                            @Html.TextBoxFor(model => model.admin_new_repassword, new { required = "required", type = "password", placeholder = "Re-Enter New Password", onblur = "james()", id = "rpname", title = "Re-Enter New Password", @class = "form-control" })
                                        </div>

                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span id="password_strength1"></span>


                                    </div>

                                </div>

                            </div>
                        </div>
                        <button class="btn waves-effect waves-light btn-success  text-uppercase " type="submit" value="update" name="submit">Update Password <i class="ti-check"></i></button>



                    </div>
                </div>
            </div>
        </div>

    }
    @ViewBag.cd
</div>
<script>
	function james() {
        var newp = document.getElementById("pname").value;
		var newr = document.getElementById("rpname").value;

        var password_strength = document.getElementById("password_strength1");
        if (newp != newr) {
            document.getElementById("rpname").value = "";
            password_strength.innerHTML = "*****Invalid Re-Enter Password";
            password_strength.style.color = "red";
        }
        else {
            password_strength.innerHTML = "";
            password_strength.style.color = "";
        }
    }
</script>





