@model InformationTech.Models.itvariables
@{
    ViewBag.Title = "AdminAdd";
    Layout = "~/Views/_LayoutPageAdmin.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
        function imagepreviewcust(input) {
            if (input.files) {

                var fildr = new FileReader();
                fildr.onload = function (e) {
                    $('#imgprwcust').attr('src', e.target.result);
                    $('#imgprwcust').attr('style', "width: 100px; height: 100px; border-radius: 50px; display:block;");
                    
                    //style = "width: 100px; height: 100px; border-radius: 50px;"
                    // alert(e.target.result);
                }
                fildr.readAsDataURL(input.files[0]);
                
                //if (input.files == null) {
                //    alert("null");
                //}
                //else {
                //    alert("hello");
                //}


            }
            
        }

        function openFileOnClick()
        {
            //if (input.files == null) {
            //    alert("null");
            //}
            //else {
            //    alert("hello");
            //}

            if (document.getElementById("photo").files.length >= 1) {
                //alert(document.getElementById("photo").value);
                //Do something 
                $('#imgprwcust').attr('src', null);
                $('#imgprwcust').attr('style', "display:none;");
            }
            else {
                //alert(document.getElementById("photo").value);
                //Cancel button has been called.
            }

        }

</script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Admin Registration Form</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("DashBoard","techadmin")">Home</a></li>
                <li class="breadcrumb-item">Admin</li>
                <li class="breadcrumb-item active">Add Admin</li>
            </ol>
        </div>
        @*<div class="">
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>*@
    </div>
    <h2>@ViewBag.ab</h2>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    @using (Html.BeginForm("AdminAdd", "techadmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.DateAndTime, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header bg-info">
                        <h4 class="m-b-0 text-white">Register Here</h4>
                    </div>
                    <div class="card-body">




                        <div class="form p-t-20">

                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="exampleInputuname">User Name</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-user"></i></div>

                                            @Html.TextBoxFor(model => model.name, new { maxlength = "49", required = "required", placeholder = "Enter Ur Name", id = "exampleInputuname", title = "Enter Name", @class = "form-control" })

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-email"></i></div>

                                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", type = "email", required = "required", placeholder = "Enter Ur Email", id = "exampleInputEmail1", title = "Enter Email" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="pwd1">Password</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-lock"></i></div>

                                            @Html.TextBoxFor(model => model.password, new { @class = "form-control", type = "password", required = "required", placeholder = "Enter Ur Password", id = "pwd1", title = "Enter Password", onkeyup = "CheckPasswordStrength(this.value)" }) 
                                            
                                           
                                        </div>
                                        <span id="password_strength"></span>
                                    </div>
                                </div>                               
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="contact">Mobile No.</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-mobile"></i></div>

                                            @Html.TextBoxFor(model => model.contact, new { @class = "form-control", type = "text", maxlength = "10", minlength = "10", required = "required", placeholder = "Enter Contact Number", onkeypress = "return event.charCode>=48 && event.charCode<=57;", id = "contact", title = "Enter Contact" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="Photo">Photo</label>
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="ti-camera"></i></div>

                                            @Html.TextBoxFor(model => model.photo, new { @class = "form-control", type = "file", required = "required", id = "photo", name = "photo", accept = "image/*", title = "Enter Photo", onchange = "imagepreviewcust(this);", onclick = "openFileOnClick();" })

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <div class="input-group">
                                            

                                            <img id="imgprwcust"  />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <button type="submit" class="btn btn-success waves-effect waves-light m-r-10" name="submit" value="submit">Submit</button>
                            <button type="reset" class="btn btn-inverse waves-effect waves-light">Cancel</button>





                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>

<script type="text/javascript">
    function CheckPasswordStrength(password) {
        var password_strength = document.getElementById("password_strength");

        //TextBox left blank.
        if (password.length == 0) {
            password_strength.innerHTML = "";
            return;
        }

        //Regular Expressions.
        var regex = new Array();
        regex.push("[A-Z]"); //Uppercase Alphabet.
        regex.push("[a-z]"); //Lowercase Alphabet.
        regex.push("[0-9]"); //Digit.
        regex.push("[$@@$!%*#?&]"); //Special Character.

        var passed = 0;

        //Validate for each Regular Expression.
        for (var i = 0; i < regex.length; i++) {
            if (new RegExp(regex[i]).test(password)) {
                passed++;
            }
        }

        //Validate for length of Password.
        //if (passed > 2 && password.length > 8) {
        //    passed++;
        //}

        //Display status.
        var color = "";
        var strength = "";
        switch (passed) {
            case 0:
            case 1:
                strength = "Weak";
                color = "red";
                break;
            case 2:
                strength = "Good";
                color = "darkorange";
                break;
            case 3:
            case 4:
                strength = "Strong";
                color = "green";
                break;
            case 5:
                strength = "Very Strong";
                color = "darkgreen";
                break;
        }
        password_strength.innerHTML = strength;
        password_strength.style.color = color;
    }




</script>