@model InformationTech.Models.Answer

@{
    ViewBag.Title = "Answer Update";
    Layout = "~/Views/_LayoutPageAdmin.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Answer Update</h3>
        </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("DashBoard","techadmin")">Home</a></li>
                <li class="breadcrumb-item">Question</li>
                <li class="breadcrumb-item active">Answer Update</li>
            </ol>
        </div>

    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->




    @using (Html.BeginForm("AnsUpdate", "techadmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.DateAndTime, new { @Value = DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") })
        @Html.HiddenFor(model => model.ans_id)

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header btn-primary">

                        <h4 class="m-b-0 text-white">Answer Update</h4>
                    </div>
                    <div class="card-body">
                        <div class="form p-t-20">


                            <div class="row">
                                <div class="col-lg-12">


                                    <div class="form-group">


                                       
                                        @Html.Raw(ViewBag.DDlObjective)


                                    </div>



                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                @*<label for="exampleInputuname"></label>*@
                                                <div class="input-group" style="width:100%;">
                                                    <div class="input-group-addon"><i class="ti-layers-alt"></i></div>

                                                    @Html.TextAreaFor(model => model.answer_detail, new { placeholder = "Enter Answer  Detail", id = "exampleInputuname", title = "Enter Answer Detail ", @class = "form-control", style = "width: 100%;" })
                                                    <script> CKEDITOR.replace("exampleInputuname"); </script>

                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>

                            </div>
                        </div>
                        <button class="btn waves-effect waves-light btn-success  text-uppercase " type="submit" value="answer_update" name="submit">Update Answer</button>

                        &nbsp;&nbsp;
                        <a href="@Url.Action("AnsView","techadmin",new { id = ViewBag.id})" , class="btn waves-effect waves-light btn-danger">Cancel</a>

                    </div>
                </div>
            </div>
        </div>

    }

</div>
