@model IEnumerable<InformationTech.Models.ClientVariables>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutClientPage.cshtml";
}

  <div class="slider__container slider__fixed_height slider__position--relative">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <div class="slide slider__bg__color--3 text__align--left fornt__image--right-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <div class="slider__display--center cd-intro">
                            <div class="slider__inner cd-intro-content mask">
                                <h1 data-content="Online Courses"><span>Online Courses</span></h1>
                                <p>Determine your proficiency level in English by taking our Online Courses.</p>
                                <div class="slider__btn">
                                    <a href="@Url.Action("index","subject")" class="htc__btn btn--theme">Learn More</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    
        <!-- Start Single Slide -->
        <div class="slide slider__bg__color--2 text__align--left fornt__image--right-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-7">
                        <div class="slider__display--center cd-intro">
                            <div class="slider__inner cd-intro-content scale">
                                <h1>Online Exam</h1>
                                <p>The different Exam has been taking by our different Subject in Courses.</p>
                                <div class="slider__btn">
                                    <a href="@Url.Action("index","subject")" class="htc__btn btn--theme">Learn More</a>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
       <!-- Start Single Slide -->
        <div class="slide slider__bg__color--1 text__align--left fornt__image--right-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <div class="slider__display--center cd-intro">
                            <div class="slider__inner cd-intro-content mask">
                                <h1 data-content="Online Courses"><span>Online Courses</span></h1>
                                <p>Determine your proficiency level in English by taking our Online Courses.</p>
                                <div class="slider__btn">
                                    <a href="@Url.Action("index","subject")" class="htc__btn btn--theme">Learn More</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->

        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->
<!-- Start our About Area -->
<section class="our__about__area bg__white pb--80 pt--100">
    <div class="container">
        <div class="row">
            <div class="about__wrapper clearfix">
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about">
                        <!-- Start Section Title -->
                        <div class="section__title text-left">
                            <h2 class="title__line">About us</h2>
                            <p>Fable daycare, preschool, and kindergarten</p>
                        </div>
                        <!-- End Section Title -->
                        <p class="about__details">Come with us, we also teach children about the basic values of human beings as honesty, kindness, generosity, courage, freedom, equality and respect. Learn to celebrate diversity in a spirit of understanding and tolerance and develop a positive regard and awareness of other people. They are taught the values and responsibilities needed to become active members of the community...</p>
                        <div class="htc__skill__container">
                            <!-- Start single skill -->
                            <div class="single__skill">
                                <p>Online Video</p>
                                <div class="progress">
                                    <div class="progress-bar pen__coloe--1 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                                        <span class="pen-lable">90%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single__skill">
                                <p>Source Code</p>
                                <div class="progress">
                                    <div class="progress-bar pen__coloe--2 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width:95%">
                                        <span class="pen-lable">95%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                            <!-- Start single skill -->
                            <div class="single__skill">
                                <p>Detail Description</p>
                                <div class="progress">
                                    <div class="progress-bar pen__coloe--3 wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay=".5s" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%">
                                        <span class="pen-lable">93%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End single skill -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                    <div class="about__thumb">
                        <img src="~/Content/ClientCss/images/about/1.png" alt="about images">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End our About Area -->
       
        <!-- Start Our CounterUp Area -->
        <section class="our__counterup__area ptb--70" data--black__overlay="4" style="background-image: url(/Content/ClientCss/images/bg/1.jpg); background-repeat: no-repeat; background-attachment: scroll;  background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="counterup__wrap clearfix">
                        <!-- Start Single Fact -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                           <div class="funfact">
                                <div class="fact__icon">
                                    <i class="icon ion-university"></i>
                                </div>
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">98</span><span>%</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>Graduates</h2>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="funfact">
                                <div class="fact__icon">
                                    <i class="icon ion-ribbon-b"></i>
                                </div>
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count">
                                            <span class="count">30</span><span>+</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>Certified Teachers</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="funfact">
                                <div class="fact__icon">
                                    <i class="icon ion-podium"></i>
                                </div>
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count">
                                            <span class="count">7</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>Student Campuses</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                        <!-- Start Single Fact -->
                        <div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                            <div class="funfact">
                                <div class="fact__icon">
                                    <i class="icon ion-person-stalker"></i>
                                </div>
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count">
                                            <span class="count">5959</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>Students</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Fact -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Our CounterUp Area -->
        <!-- Start popular Courses Area -->
        <section class="popular__courses__area ptb--80 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Start Section Title -->
                        <div class="section__title text-center">
                            <h2 class="title__line">POPULAR COURSES</h2>
                            <p>The Best In Our School</p>
                        </div>
                        <!-- End Section Title -->
                    </div>
                </div>
                <div class="row">
                    <div class="popular__courses__wrap indicator__style--1 owl-carousel owl-theme clearfix mt--30 xs-mt-0">
                        <!-- Start Single Courses -->
                        <!-- End Single Courses -->

                @foreach(var item in Model)
                {



                        <!-- Start Single Courses -->
                        <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                            <div class="courses">
                                <div class="courses__thumb">
                                    <a href="/Subject/SubjectDetail/@Html.DisplayFor(modelItem => item.url)"><img src="@Html.DisplayFor(modelItem => item.subject_image)" alt="courses images"style="height:400px;"></a>
                                    <div class="courses__hover__info">
                                        <div class="courses__hover__action">
                                            <h4><a href="#">@Html.DisplayFor(modelItem => item.subject)</a></h4>
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="courses__details">
                                    <div class="courses__details__inner">
                                        <h2><a href="courses-details.html">@Html.DisplayFor(modelItem => item.stream)</a></h2>
                                        <p> Class/Sem - @Html.DisplayFor(modelItem => item.class_name)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Courses -->
                }





                       
                    </div>
                </div>
            </div>
        </section>
        <!-- End popular Courses Area -->
       
        <!-- Start upcoming Area -->
        <section class="our__upcoming__area ptb--80 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                        <!-- Start Section Title -->
                        <div class="section__title text-center">
                            <h2 class="title__line">Course Packages</h2>
                            <p>Course Packages for your future career.</p>
                        </div>
                        <!-- End Section Title -->
                    </div>                    
                </div>
                <div class="row">
                    <div class="upcoming__wrap clearfix mt--30">
                        <!-- Start Single Upcoming Event -->
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                            <div class="upcoming">
                                <div class="upcoming__inner">
                                    <div class="upcoming__thumb">
                                        <a href="#">
                                            <img src="~/Content/ClientCss/images/event/1.jpg" alt="upcoming images">
                                        </a>
                                    </div>
                                    <div class="upcoming__hover__info">
                                        <div class="upcoming__hover__action">
                                            <div class="upcoming__event__time">
                                                <div class="event__time">
                                                    <span>15</span>
                                                    <span>Days</span>
                                                </div>
                                                <span class="event__separator"></span>
                                                <ul class="event__location">
                                                    <li><i class="icon ion-ios-pricetag"></i>Get Free Trial</li>
                                                    @*<li><i class="icon ion-ios-location"></i>Second Quad</li>*@
                                                </ul>
                                            </div>
                                            <div class="upcoming__details hidden-xs">
                                                <p>View Course<br> View Subjet<br> View Topic<br> View Topic Details</p>
                                                
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Upcoming Event -->
                        <!-- Start Single Upcoming Event -->
                        <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 sm-mt-30 xs-mt-30">
                            <div class="upcoming">
                                <div class="upcoming__inner">
                                    <div class="upcoming__thumb">
                                        <a href="#">
                                            <img src="~/Content/ClientCss/images/event/2.jpg" alt="upcoming images">
                                        </a>
                                    </div>
                                    <div class="upcoming__hover__info">
                                        <div class="upcoming__hover__action">
                                            <div class="upcoming__event__time">
                                                <div class="event__time">
                                                    <span>@ViewBag.days</span>
                                                    <span>Days</span>
                                                </div>
                                                <span class="event__separator"></span>
                                                <ul class="event__location">
                                                    <li><i class="icon ion-ios-pricetag "></i> Rs.@ViewBag.price</li>
                                                    <li><i class="icon ion-ios-cash"></i>Premium Pack</li>
                                                </ul>
                                            </div>
                                            <div class="upcoming__details hidden-xs">
                                                <p>View Course<br> View Subjet<br> View Topic<br> View Topic Details<br/>Give Exam <br /> Also Get Certificate</p>
                                                <div class="event__btn">
                                                    <a href="@Url.Action("payment","Home")" class="htc__btn btn--transparent">Pay Now</a>
                                                   
                                                </div>
                                             </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Upcoming Event -->
                    </div>
                </div>
            </div>
        </section>
        <!-- End upcoming Area -->
      

       
